<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRaut_x8i3Ysn9Az2fp3rKJdXZegNcs5s</string>
	<key>GCM_SENDER_ID</key>
	<string>758686692514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maibathai.invoice.dev</string>
	<key>PROJECT_ID</key>
	<string>invocie-management</string>
	<key>STORAGE_BUCKET</key>
	<string>invocie-management.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758686692514:ios:0ddb41d0463b0e65f693fb</string>
</dict>
</plist>